.select-search-box {
  width: 100% !important;

  &::after {
    line-height: 40px !important;
    z-index: 0 !important;
    color: #999 !important;
  }

  .select-search-box__search {
    background-color: #fff !important;
    border: 1px solid #e4e7ea !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #565656 !important;
    height: 38px !important;
    max-width: 100% !important;
    padding: 7px 12px !important;
    transition: all 300ms linear 0s !important;
    font-family: inherit !important;
    font-size: 14px !important;
    z-index: 0 !important;
  }

  .select-search-box__search--placeholder {
    color: #999;
    font-style: normal !important;
    font-weight: 100;
  }

  input::-webkit-input-placeholder {
    color: #999 !important;
    font-style: normal !important;
    font-weight: 100;
  }

  input::-moz-placeholder {
    color: #999;
    font-style: normal !important;
    font-weight: 100;
  }

  input:-moz-placeholder {
    color: #999;
    font-style: normal !important;
    font-weight: 100;
  }

  input:-ms-input-placeholder {
    color: #999;
    font-style: normal !important;
    font-weight: 100;
  }

  .select-search-box__options {
    padding: 0px 10px !important;

    .select-search-box__option {
      font-size: 14px !important;
      padding: 5px !important;
      font-weight: 400 !important;
    }

    .select-search-box__option--hover,
    .select-search-box__option:hover,
    .select-search-box__option--selected {
      background: #c1c1c1 !important;
      color: #000 !important;
    }

    .select-search-box__option--selected {
      background: #c1c1c1 !important;
      border-top-color: #c1c1c1;
      color: #000 !important;
    }
  }
  .select-search-box__select {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    background: #fff;
    border-radius: 4px;
    overflow: auto;
    box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1),
      0 3px 6px 0 rgba(0, 0, 0, 0.07);
    z-index: 100;
    min-height: 49px;
  }
  .select-search-box {
    position: relative;

    background: #fff;
    border-radius: 4px;
  }
}
