// Style for fixed header
.dataTable {

  th[class*="MUIDataTableHeadCell-fixedHeaderCommon-"],
  th[class*="jss"] {
    // z-index: unset !important;
    font-weight: bold;
  }

  .MUIDataTableHeadCell-fixedHeaderCommon-138 {
    z-index: unset !important;
  }

  // Setting font size for column header and table cell
  th[class*="MuiTableCell-root"],
  th[class*="jss"] {
    color: #0000008a !important;
  }

  select.form-control:not([size]):not([multiple]) {
    height: unset;
    width: 70px;
  }

  tfoot {
    font-size: 12px;
  }

  // .totalRecord {
  //   margin-top: 6px;
  // }

  .custom-select {
    font-size: 12px;
  }

  th[class*="MuiTableCell-root"],
  td[class*="MuiTableCell-root"],
  th[class*="jss"],
  td[class*="jss"] {
    font-size: 14px !important;
  }

  th[class*="MUIDataTableSelectCell-root-"],
  td[class*="MUIDataTableSelectCell-root-"],
  th[class*="jss"] {
    background: #fff;
  }

  @media (max-width: 960px) {

    /* // .MUIDataTableSelectCell-root-123 {
          display: none;
      } */
    th[class*="MUIDataTableSelectCell-root-"],
    td[class*="MUIDataTableSelectCell-root-"],
    th[class*="jss"] {
      display: table-cell !important;
      background: #fff;
    }
  }

  // td[class*="MuiTableCell-root-"],
  // td[class*="jss"] {
  //     font-size: 15px !important;
  //     padding: 4px 0px 4px 24px !important;

  //     .btn-circle {
  //         margin-top: 2px;
  //     }
  // }

  div[class*="MuiTablePagination-actions-"],
  div[class*="jss"] {
    margin-left: 0 !important;
  }

  div[class*="MuiToolbar-root"] {
    color: #686868;
  }

  li[class*="MuiMenuItem-root"],
  li[class*="jss"] {
    font-size: 15px !important;
  }

  .data-loader {
    display: block;
    margin: 0 auto;
    width: min-content;
    width: -moz-min-content;
    width: -webkit-min-content;
  }


}