.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
  font-family: arial;
  margin: 30px 50px;
  height: 340px;
}
.description {
  height: 40px;
  overflow: hidden;
  padding: 0px 10px;
}
.price {
  color: grey;
  font-size: 22px;
}
.mlr {
  margin-right: 10px;
  margin-left: 10px;
}
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.btn1-color {
  background-color: #03a9f3 !important;
}
.btn2-color {
  background-color: #fb9678 !important;
}

.card button:hover {
  opacity: 0.7;
}
